/*font-family: 'Lobster', cursive;
font-family: 'Poor Story', cursive;*/
body{
    text-align: center !important;
    font-family: 'Poor Story', cursive !important;
}

 .btn:hover {
background-position: right center;
}
 .btn {
flex: 1 1 auto;
margin: 10px;
padding: 30px;
text-align: center;
text-transform: uppercase;
transition: 0.5s;
background-size: 200% auto;
color: white;
/*text-shadow: 0px 0px 10px rgba(0,0,0,0.2);*/
box-shadow: 0 0 20px #eee;
border-radius: 10px;
}
.btn-3{
    background-image: linear-gradient(to right, #84fab0 0%, #8fd3f4 51%, #84fab0 100%);
}




 @media(max-width:568px){
     .hotThot{
         background-attachment: scroll !important;
      }
     .hotThot2{
        background-attachment: scroll !important;
      }
    }
#repo{
    padding-top: 50px;
    padding-left: 1000px;
}

/*main page*/
.nav-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 85%;
    justify-content: space-around;
    margin: auto;
    font-family: 'Poor Story', cursive;
    font-weight: bold;
    position: relative; /*fixed ? nahhhh */
    overflow:hidden;
    z-index: 1;
    padding:10px;
    text-transform: uppercase;
    font-size: 20px;
    list-style-type: none;
     }
     a{
         text-decoration: none !important;
         color: #3F729B !important;
     }
     


     .nav-container a{
         padding-left: 5px;
         text-decoration: none !important;
         color:#3F729B;
     }
    
    a:hover{
        color:#E50914 !important;
    }
    
 
     .brand-active{
         flex-grow:0.5 ; 
         color:#3F729B;
     }
     .brand-active:hover{
        color:#E50914 !important;
    }
    
     .gr img{
         height: 45px;
     }

     .hotThot{
        background-image: url("https://image.ibb.co/bHys7U/back_view_backlit_city_847483.jpg");
        min-height: 400px;
        position: relative;
        opacity: 0.7;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
    }

.search{
    text-transform: uppercase;
    color:#E32934;
    padding-top: 50px;
    
}
#show{
    color: #3F729B; 
}

  #major-head{ /* LOL thats what she said */
    text-transform: uppercase;
    color:#E32934;
    padding: 35px;
}

.major{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding: 15px;
    align-items: center;
    justify-content:space-evenly;
    color:#3F729B; 
    
}

#nc{
    border-radius: 10px;
    height: auto;
    opacity:0.8;
    width: 350px;
}

#cc{
    border-radius: 10px;
    height: auto;
    opacity:0.8;
    width: 350px;
}

#sf{
    border-radius: 10px;
    height: auto;
    opacity:1.0;
    width: 350px;
}

#ny{
    border-radius: 10px;
    height: auto;
    opacity:0.8;
    width: 350px;
}

#sl{
    border-radius: 10px;
    height: auto;
    opacity:0.8;
    width: 350px;
    background: linear-gradient(to bottom, #ffffff 0%, #000000 100%);
}

#tk{
    border-radius: 10px;
    height: auto;
    opacity:0.8;
    width: 350px;
}
#mb{
    border-radius: 10px;
    height: auto;
    opacity:0.8;
    width: 350px;
    background: linear-gradient(to bottom, #000099 0%, #ccffff 100%);
}
#mc{
    border-radius: 10px;
    height: auto;
    opacity:0.8;
    width: 350px;
    background: linear-gradient(to bottom, #66ccff 0%, #ff0000 100%);
}
#mx{
    border-radius: 10px;
    height: auto;
    opacity:0.8;
    width: 350px;
    background: linear-gradient(to bottom, #cc0000 0%, #003300 100%);
}


.hotThot2{
    background-image: url("https://image.ibb.co/dcHKnU/adult_autumn_beauty_268791.jpg");
    min-height: 400px;
    position: relative;
    opacity: 0.8;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding-top: 100px !important;
}

.gif{
    padding-top: 60px;
    text-transform: uppercase;
    color: #3F729B;
    max-width: 700px;
    margin: auto;
}
    
#kirsten{
    border-radius: 10px;
    height: auto;
    opacity:0.9;
    width: 350px;
    background: linear-gradient(to bottom, #3399ff 0%, #ffffcc 100%);
}

.gif{
    padding-bottom: 80px;
}

.main-gif-container img{
    height: 400px;
    width: 425px;
}

.weatherFoot{
    display: block;
    height:100px;
    background-color:#CCD6DD;
    margin:auto;
    padding:35px;
    font-family: 'Chakra Petch', sans-serif;
}

/*Cursor*/
.txt-type > .txt {
    border-right: 0.2rem solid #777;
}
